<div class="container">
  <div class="content">
    <div class="cards">
      <% @offers.each do |offer| %>
        <div class="card">
          <div class="card-body">
            <%= link_to offer_path(offer) do %>
              <%= cl_image_tag offer.photo.key, width: 150, height: 150, crop: :fill %>
              <h5 class="card-title"><%= offer.title %></h5>
            <% end %>
            <% if policy(offer).edit? || offer.title != "" %>
              <%= link_to "Edit", edit_offer_path(offer) %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
